<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a class="nav nav-link" routerLink="/recipes">Recipes</a></li>
        <li routerLinkActive="active"><a class="nav nav-link" routerLink="/shopping-list">Shopping List</a></li>
        <li routerLinkActive="active"><a class="nav nav-link" routerLink="/signup">Sign Up</a></li>
        <li routerLinkActive="active"><a class="nav nav-link" routerLink="/signin">Sign In</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right ml-auto">
        <li class="nav nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <button class="btn btn-primary">Manage <div class="caret"></div></button>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="saveData()" style="cursor: pointer">Save Data</a>
            <a class="dropdown-item" (click)="fetchData()" style="cursor: pointer">Fetch Data</a>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>