<div class="container">
  <div class="row">
    <div class="col">
      <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-fluid" style="max-height: 300px;">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>{{recipe.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" id="dropdown" data-toggle="dropdown">Manage Recipe
          <span class="caret"></span></button>
        <ul class="dropdown-menu" aria-labelledby="dropdown">
          <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
          <li><a style="cursor: pointer;"(click)="onEditRecipe()">Edit Recipe</a></li>
          <li><a style="cursor: pointer;" (click)="onDeleteRecipe()">Delete Recipe</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Description: {{recipe.description}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="list-group">
        Ingredients: <br>
        <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">{{ingredient.name}} -
          {{ingredient.amount}}</li>
      </div>
    </div>
  </div>
</div>