<nav class="nav bg-dark">
  <ul class="navbar nav">
    <li class="navbar-brand"><a class="nav-link" routerLink="/">Recipe Book</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/recipes" routerLinkActive="active">Recipes</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/shopping-list" routerLinkActive="active">Shopping List</a>
    </li>
  </ul>

  <ul class="navbar nav ml-auto">
    <li class="nav-item" routerLinkActive="active"><a class="nav nav-link" routerLink="/signup">Register</a></li>
    <li class="nav-item" routerLinkActive="active"><a class="nav nav-link" routerLink="/signin">Sign In</a></li>
    <li class="nav-item" routerLinkActive="active"><a class="nav nav-link" routerLink="" (click)="logout()">Logout</a></li>

    <button class="nav-item dropdown btn btn-primary">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">Manage</a>
      <div class="dropdown-menu" aria-labelledby="dropdown">
        <a class="dropdown-item" (click)="saveData()">Save Data</a>
        <a class="dropdown-item" (click)="fetchData()">Fetch Data</a>
      </div>
    </button>
  </ul>
</nav>